@mixin component-colors($el: &) {
  &#{$el}-green {
    --back-bg: var(--green);
    --border: var(--green-dark);
  }
  &#{$el}-orange {
    --back-bg: var(--orange);
    --border: var(--orange-dark);
  }
  &#{$el}-red {
    --back-bg: var(--red);
    --border: var(--red-dark);
  }
  &#{$el}-pink {
    --back-bg: var(--pink);
    --border: var(--pink-dark);
  }
  &#{$el}-purple {
    --back-bg: var(--purple);
    --border: var(--purple-dark);
  }
  &#{$el}-blue {
    --back-bg: var(--blue);
    --border: var(--blue-dark);
  }
  &#{$el}-yellow {
    --back-bg: var(--yellow);
    --border: var(--yellow-dark);
  }
}

@mixin component-colors-only-border($el: &) {
  &#{$el}-green {
    --border: var(--green-dark);
  }
  &#{$el}-orange {
    --border: var(--orange-dark);
  }
  &#{$el}-red {
    --border: var(--red-dark);
  }
  &#{$el}-pink {
    --border: var(--pink-dark);
  }
  &#{$el}-purple {
    --border: var(--purple-dark);
  }
  &#{$el}-blue {
    --border: var(--blue-dark);
  }
  &#{$el}-yellow {
    --border: var(--yellow-dark);
  }
}

@mixin component-colors-for-disabled($el: &) {
  &[disabled] {
    cursor: not-allowed;
    --border: var(--gray);

    &,
    .btn-text {
      color: var(--gray);
    }

    &#{$el}-green {
      --border: var(--green-light);
    }
    &#{$el}-orange {
      --border: var(--orange-light);
    }
    &#{$el}-red {
      --border: var(--red-light);
    }
    &#{$el}-pink {
      --border: var(--pink-light);
    }
    &#{$el}-purple {
      --border: var(--purple-light);
    }
    &#{$el}-blue {
      --border: var(--blue-light);
    }
    &#{$el}-yellow {
      --border: var(--yellow-light);
    }
  }
}
