@mixin component-colors-only-border($el: &) {
  &#{$el}-green {
    --border-color: var(--green-dark);
  }
  &#{$el}-orange {
    --border-color: var(--orange-dark);
  }
  &#{$el}-red {
    --border-color: var(--red-dark);
  }
  &#{$el}-pink {
    --border-color: var(--pink-dark);
  }
  &#{$el}-purple {
    --border-color: var(--purple-dark);
  }
  &#{$el}-blue {
    --border-color: var(--blue-dark);
  }
  &#{$el}-yellow {
    --border-color: var(--yellow-dark);
  }
}
