:root {
  --border-radius: 4px;
  --transition: 0.15s cubic-bezier(0.64, 0.57, 0.67, 1.53);

  // colors
  --black: #000;
  --white: #fff;
  --gray: #c4c4c4;
  --gray-light: #f0f0f0;
  --green: #b0e9bd;
  --green-dark: #328845;
  --orange: #f0d092;
  --orange-dark: #d1a143;
  --blue: #b0e5e9;
  --blue-dark: #3c42e3;
  --yellow: #f3f4ab;
  --yellow-dark: #dee138;
  --pink: #e9b0e3;
  --pink-dark: #ad45a3;
  --red: #fca6a6;
  --red-dark: #ad2d2d;

  // text
  --text-color: #000;

  // slider
  --slider-button-size: 50px;
}
