:root {
  --border-radius: 4px;
  --transition: 0.15s cubic-bezier(0.64, 0.57, 0.67, 1.53);

  // colors
  --black: #000;
  --white: #fff;
  --gray: rgb(196, 196, 196);
  --gray-dark: rgb(97, 97, 97);
  --gray-light: rgba(196, 196, 196, 0.2);
  --green: rgb(176, 233, 189);
  --green-dark: rgb(50, 136, 69);
  --green-light: rgba(50, 136, 69, 0.2);
  --orange: rgb(240, 208, 146);
  --orange-dark: rgb(209, 161, 67);
  --orange-light: rgba(209, 161, 67, 0.2);
  --blue: rgb(176, 229, 233);
  --blue-dark: rgb(50, 115, 220);
  --blue-light: rgba(60, 66, 227, 0.2);
  --yellow: rgb(243, 244, 171);
  --yellow-dark: rgb(222, 225, 56);
  --yellow-light: rgba(222, 225, 56, 0.2);
  --pink: rgb(233, 176, 227);
  --pink-dark: rgb(173, 69, 163);
  --pink-light: rgba(173, 69, 163, 0.2);
  --red: rgb(252, 166, 166);
  --red-dark: rgb(173, 45, 45);
  --red-light: rgba(173, 45, 45, 0.2);

  // text
  --text-color: #000;

  // slider
  --slider-button-size: 50px;
}
