:root {
  --transition: 0.15s cubic-bezier(0.64, 0.57, 0.67, 1.53);
  --transition-linear: 0.15s linear;

  // colors
  --black: #000;
  --white: #fff;
  --gray: rgb(196, 196, 196);
  --gray-dark: rgb(97, 97, 97);
  --gray-light: rgb(243, 243, 243);
  --green: rgb(176, 233, 189);
  --green-dark: rgb(50, 136, 69);
  --green-light: rgb(214, 231, 218);
  --orange: rgb(240, 208, 146);
  --orange-dark: rgb(209, 161, 67);
  --orange-light: rgb(246, 236, 217);
  --blue: rgb(176, 229, 233);
  --blue-dark: rgb(50, 115, 220);
  --blue-light: rgb(211 235 255);
  --yellow: rgb(255, 231, 145);
  --yellow-dark: rgb(255, 199, 0);
  --yellow-light: rgb(255, 244, 204);
  --pink: rgb(233, 176, 227);
  --pink-dark: rgb(173, 69, 163);
  --pink-light: rgb(239, 218, 237);
  --purple: rgb(187, 185, 255);
  --purple-dark: rgb(85, 81, 255);
  --purple-light: rgb(221, 220, 255);
  --red: rgb(252, 166, 166);
  --red-dark: rgb(173, 45, 45);
  --red-light: rgb(239, 213, 213);

  // text
  --text-color: #000;

  --font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;

  --shadow-bg: var(--gray);
  --focus-box-shadow-width: 2px;
  --focus-box-shadow-color: var(--gray);

  --border-color: var(--black);
  --border-width: 2px;
  --border-radius: 4px;

  --input-height: 2.5rem;
  --placeholder-color: var(--gray);

  --shadow-distance: 3px;
  --is-shadow-right: -1;
  --is-shadow-top: -1;
  --reset-shadow-right: auto;
  --reset-shadow-left: 0;
  --reset-shadow-top: auto;
  --reset-shadow-bottom: 0;

  --select-icon-size: 20px;

  --delete-button-size: 24px;

  --accordion-button-height: 40px;
  --accordion-button-bg: #fff;
  --hover-accordion-button-bg: #fff;
  --active-accordion-button-bg: #fff;
  --active-accordion-text-color: #000;

  --dropdown-icon-size: 1.2rem;
  --dropdown-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>');
}
