.btn,
.checkbox,
.checkbox span,
.radio,
.radio span,
.input-text,
.input-text span,
.input-file,
.input-file span,
.accordion-container,
.dropdown-menu,
.slider,
.card,
.tooltip,
.img {
  &::before {
    box-sizing: content-box;
  }
}

.btn,
.slider,
.img,
.card {
  --shadow-distance: inherit;
  --is-shadow-right: inherit;
  --is-shadow-top: inherit;
  --reset-shadow-right: inherit;
  --reset-shadow-left: inherit;
  --reset-shadow-top: inherit;
  --reset-shadow-bottom: inherit;
  --computed-shadow-right: calc(var(--is-shadow-right) * -1);
  --computed-shadow-top: calc(var(--is-shadow-top) * -1);
  margin-top: var(--shadow-distance);
  margin-left: var(--shadow-distance);
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transform-origin: center;
  will-change: transform;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0); // to avoid jagge
  border-radius: var(--border-radius);
  transition: var(--transition);
  // prettier-ignore
  transform: translate3d(calc(var(--shadow-distance) * var(--computed-shadow-right)), calc(var(--shadow-distance) * var(--computed-shadow-top) * -1), 0);

  &::before {
    content: '';
    // prettier-ignore
    transform: translate3d(calc(var(--shadow-distance) * var(--computed-shadow-right) * -1), calc(var(--shadow-distance) * var(--computed-shadow-top)), -0.1px);
    position: absolute;
    z-index: 1;
    right: var(--reset-shadow-left); // should be 0 for left shadow
    top: var(--reset-shadow-bottom);
    left: var(--reset-shadow-right); // should be auto for left shadow
    bottom: var(--reset-shadow-top);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: inherit;
    background-color: var(--shadow-bg);
    border: 2px solid var(--border-color);
  }

  &.shadow-right {
    --is-shadow-right: 1;
    --reset-shadow-left: auto;
    --reset-shadow-right: 0;
  }
  &.shadow-top {
    --is-shadow-top: 1;
    --reset-shadow-top: 0;
    --reset-shadow-bottom: auto;
  }

  &.no-shadow {
    margin-top: 0;
    margin-left: 0;
    transform: translateY(0);

    &:hover {
      transform: translateY(0);
    }
    &::before {
      content: none;
    }
  }
}

.green {
  --shadow-bg: var(--green);
  --focus-box-shadow-color: var(--green);
  --border-color: var(--green-dark);
}
.orange {
  --shadow-bg: var(--orange);
  --focus-box-shadow-color: var(--orange);
  --border-color: var(--orange-dark);
}
.red {
  --shadow-bg: var(--red);
  --focus-box-shadow-color: var(--red);
  --border-color: var(--red-dark);
}
.pink {
  --shadow-bg: var(--pink);
  --focus-box-shadow-color: var(--pink);
  --border-color: var(--pink-dark);
}
.purple {
  --shadow-bg: var(--purple);
  --focus-box-shadow-color: var(--purple);
  --border-color: var(--purple-dark);
}
.blue {
  --shadow-bg: var(--blue);
  --focus-box-shadow-color: var(--blue);
  --border-color: var(--blue-dark);
}
.yellow {
  --shadow-bg: var(--yellow);
  --focus-box-shadow-color: var(--yellow);
  --border-color: var(--yellow-dark);
}
