.content-wrapper {
}

.doc-section-title {
  margin-top: 1.5rem;
  color: var(--black);

  a {
    margin-right: 0.35rem;
    color: var(--orange-dark);
  }
}

p {
  margin-top: 1.2rem;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--black);
}

.helper {
  display: block;
  color: var(--black);
  margin: 2rem 0 0 0;
}

.example {
  display: block;
  color: var(--black);
  margin: 2rem 0 0 0;
}

.helpers-container {
  margin: 1.5rem 0 0 0;
}
.helpers-container .helper {
  margin: 0.5rem 0 0 0;
}
.inline-property {
  font-weight: 600;
  background-color: var(--pink-light);
  padding: 1px 3px;
  border-radius: 2px;
}

.doc-table {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: var(--border-radius);
  overflow: hidden;

  table {
    background-color: #fff;
    width: 100%;
    min-width: 750px;
  }

  th {
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
  }

  tr {
    height: 47px;
  }

  th,
  td {
    padding: 8px 15px;
    border-collapse: collapse;
    font-size: 1rem;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid var(--gray-light);
  }

  code {
    font-family: 'Fira Code', monospace;
    color: var(--blue-dark);
    background: var(--gray-light);
    padding: 3px 5px;
    border-radius: 2px;
  }

  td {
    font-size: 0.9rem;

    &:nth-child(2) {
      code {
        color: var(--red-dark);
      }
    }
  }

  .doc-color-wrp {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .color {
      display: block;
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      border: 1px solid var(--black);
      border-radius: var(--border-radius);
      margin-right: 10px;
    }
  }
}
