html,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font: inherit;
}

.page {
  &-wrapper {
    margin-top: 60px;
    background-color: var(--gray-light);
    display: flex;
    justify-content: center;
    min-height: calc(100vh - 60px);
  }
  &-container {
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
  }
}

.link {
  --link-line-size: 3px;
  span {
    background-size: 0 var(--link-line-size);
    background-position: 0 100%;
    background-repeat: no-repeat;
    // transition: ease 0.15s;
    color: var(--black);
    background-image: linear-gradient(var(--gray), var(--gray));
  }

  &.active span,
  &:hover span {
    background-size: 100% var(--link-line-size);
  }
}

.link-purple span {
  background-image: linear-gradient(var(--purple), var(--purple));
}
.link-orange span {
  background-image: linear-gradient(var(--orange), var(--orange));
}
.link-red span {
  background-image: linear-gradient(var(--red), var(--red));
}
.link-pink span {
  background-image: linear-gradient(var(--pink), var(--pink));
}
.link-blue span {
  background-image: linear-gradient(var(--blue), var(--blue));
}
.link-green span {
  background-image: linear-gradient(var(--green), var(--green));
}
.link-yellow span {
  background-image: linear-gradient(var(--yellow), var(--yellow));
}
