.accordion {
  &-container {
    width: 100%;
    position: relative;
  }

  &-button {
    user-select: none;
    height: 40px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 2;
    background-color: #fff;

    &::before {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      transition: var(--transition-linear);
      width: var(--accordion-icon-size, 20px);
      height: var(--accordion-icon-size, 20px);
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>')
        50% 50% / contain no-repeat;
    }
  }

  &-title {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0.5rem 1rem;
  }

  input {
    display: none;
  }

  &-content {
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    border: var(--border-width) solid var(--border-color);
    border-top: none;
    padding: 0.5rem 1rem;
    background-color: #fff;
    overflow: hidden;
    display: none;
    font-size: 0.9rem;
    line-height: 1.2;
  }

  input:checked {
    & + .accordion-container {
      .accordion-content {
        display: block;
      }

      .accordion-chevron {
        transform: rotate(180deg);
      }

      .accordion-button {
        border-radius: var(--border-radius) var(--border-radius) 0 0;

        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}

.accordions {
  .accordion {
    &-button {
      border-radius: 0;
    }

    input:checked + .accordion-container {
      .accordion-button {
        border-bottom: var(--border-width) solid var(--border-color);
        border-radius: 0;
      }
      .accordion-content {
        border-radius: 0;
        border-bottom: none;
      }
    }

    &:first-child {
      .accordion-button {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }

      input:checked + .accordion-container {
        .accordion-button {
          border-radius: var(--border-radius) var(--border-radius) 0 0;
          border-bottom: var(--border-width) solid var(--border-color);
        }
        .accordion-content {
          border-radius: 0;
          border-bottom: none;
        }
      }
    }

    &:last-child {
      .accordion-button {
        border-radius: 0 0 var(--border-radius) var(--border-radius);
      }

      input:checked + .accordion-container {
        .accordion-content {
          border-radius: 0 0 var(--border-radius) var(--border-radius);
          border-bottom: var(--border-width) solid var(--border-color);
        }
      }
    }

    &:not(:last-child) {
      .accordion-button {
        border-bottom: none;
      }
    }
  }
}
