.accordion {
  --back-bg: var(--gray);
  --border: var(--black);
  --items-background: var(--gray-light);

  @include component-colors;

  &-container {
    width: 200px;
    background-color: var(--white);
    border-radius: var(--border-radius);
    border: 2px solid var(--border);
    position: relative;
    transition: var(--transition);
    transform: translate3d(3px, -3px, 0);
    transform-origin: center center;
    transform-style: preserve-3d;

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transition: inherit;
      background-color: var(--back-bg);
      border: 2px solid var(--border);
      transform: translate3d(-3px, 3px, -0.1px);
    }

    @at-root .accordion-checkbox:checked ~ .accordion-container,
      &:hover {
      transform: translate3d(-2px, 2px, 0);

      &::before {
        transform: translate3d(2px, -2px, -0.1px);
      }
    }
  }

  &-button {
    user-select: none;
    display: flex;
    align-items: center;
    background-color: var(--white);
    border-radius: var(--border-radius);
    position: relative;
    z-index: 2;
  }

  &-title {
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;
    padding: 10px 20px;
  }

  &-chevron {
    flex-shrink: 0;
    padding: 0 10px;
    display: block;
    transition: 0.3s;
  }

  &-checkbox {
    display: none;
  }

  &-content {
    height: 0;
    overflow: hidden;
    background-color: var(--items-background);
    transition: height 0.3s ease-in;
    --accordion-item-height: 35px;
  }

  &-checkbox:checked {
    & + .accordion-container {
      .accordion-content {
        height: calc(var(--items-count) * var(--accordion-item-height));
        transition-timing-function: ease-out;
      }

      .accordion-chevron {
        transform: rotate(180deg);
      }

      .accordion-button {
        border-radius: var(--border-radius) var(--border-radius) 0 0;
      }
    }
  }

  &-item-container {
    height: var(--accordion-item-height);
    padding: 0 15px;
    display: flex;
    align-items: center;
    border-top: 1px solid #a8a8a8;
  }

  &.no-shadow {
    .accordion-container {
      transform: translate3d(0, 0, 0);

      &::before {
        content: none;
      }
    }
  }

  &.no-transition {
    .accordion-content {
      height: auto;
      display: none;
      transition: none;
    }

    .accordion-chevron {
      transition: none;
    }

    .accordion-checkbox:checked {
      & ~ .accordion-container {
        .accordion-content {
          display: block;
          transition: none;
        }
      }
    }
  }
}
