.blockquote {
  quotes: none;
  border-radius: var(--border-radius);
  background-color: #fff;
  padding: 20px;
  line-height: 1.5;
  position: relative;
  transform-style: preserve-3d;
  width: 100%;
  margin: 0;
  color: var(--text-color);

  &-title,
  &-text,
  &-foter {
    position: relative;
    z-index: 2;
  }

  &-title {
    display: block;
    font-weight: 500;
    margin-bottom: 0.75rem;
    text-align: center;
  }

  &-text {
    font-style: italic;
    color: currentColor;
    padding: 0;
    margin: 0;
  }

  &-footer {
    margin-top: 0.75rem;
    text-align: right;

    &::before {
      content: '\2014 \00A0';
    }
  }

  &:not(.no-shadow)::after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 100%;
    border-radius: inherit;
    transition: inherit;
    border-radius: inherit;
    background-color: var(--shadow-bg);
    border: 2px solid var(--border-color);
    bottom: -8px;
    width: calc(100% - 20px);
    left: 10px;
    transform: translate3d(0, 0, -0.1px);
  }
}
