.blockquote {
  border-radius: var(--border-radius);
  border: 2px solid var(--black);
  background-color: var(--white);
  padding: 20px;
  line-height: 1.5;
  position: relative;
  transform-style: preserve-3d;
  --back-bg: var(--gray);
  --border: var(--black);
  display: flex;

  &::before {
    content: attr(data-title);
    margin-right: 15px;
    opacity: 0.5;
    text-transform: uppercase;
    font-style: normal;
  }

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    height: 100%;
    border-radius: inherit;
    transition: inherit;
    border-radius: inherit;
    background-color: var(--back-bg);
    border: 2px solid var(--border);
  }

  &::after {
    bottom: -8px;
    width: calc(100% - 20px);
    left: 10px;
    transform: translate3d(0, 0, -0.1px);
  }

  &-text {
    font-style: italic;
    position: relative;
    z-index: 2;
  }
}
