.btn {
  --border: var(--black);
  --back-bg: var(--gray);
  @include component-colors;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  position: relative;
  padding: 6px 12px;
  background-color: var(--white);
  border: 2px solid var(--border);
  cursor: pointer;
  transition: var(--transition);
  transform: translate3d(3px, -3px, 0);
  transform-style: preserve-3d;
  transform-origin: center;

  &-text {
    font-size: 15px;
  }

  &-icon {
    display: flex;
    align-items: center;

    &.btn-icon-right {
      margin-left: 10px;
    }
    &.btn-icon-left {
      margin-right: 10px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: inherit;
    border-radius: inherit;
    background-color: var(--back-bg);
    border: 2px solid var(--border);
    transform: translate3d(-3px, 3px, -0.1px);
  }

  &:hover {
    transform: translate3d(-2px, 2px, 0);

    &::before {
      transform: translate3d(2px, -2px, -0.1px);
    }
  }
}
