.btn {
  --border: var(--black);
  --back-bg: var(--gray);
  --outline-width: 2px;
  @include component-colors;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 2px solid var(--border);
  cursor: pointer;
  color: currentColor;
  text-decoration: none;
  line-height: 1;
  padding: 8px 16px;
  font-size: 1rem;

  &#{&}-sm {
    --shadow-distance: 2px;
  }

  &#{&}-md {
    --shadow-distance: 3px;
  }

  &#{&}-l {
    --shadow-distance: 4px;
  }

  &.hover,
  &:hover,
  &.active,
  &:active,
  &[disabled] {
    transform: translate3d(
      calc(var(--computed-shadow-right) * -2px),
      calc(var(--computed-shadow-top) * 2px),
      0
    );

    &::before {
      transform: translate3d(
        calc(var(--computed-shadow-right) * 2px),
        calc(var(--computed-shadow-top) * -2px),
        -0.1px
      );
    }
  }

  &#{&}-sm {
    padding: 6px 12px;
    font-size: 0.9rem;
  }

  &#{&}-md {
    padding: 12px 20px;
    font-size: 1.1rem;
  }

  &#{&}-l {
    padding: 16px 32px;
    font-size: 1.3rem;
  }

  &.active:not([disabled]),
  &:active:not([disabled]) {
    transition: none;
    box-shadow: 0 0 0 var(--outline-width)
      var(--active-border-color, var(--back-bg));
  }

  @include component-colors-for-disabled;

  &,
  .btn-text {
    font-size: 1em;
  }

  &-icon {
    display: flex;
    align-items: center;

    &.btn-icon-right {
      margin-left: 10px;
    }
    &.btn-icon-left {
      margin-right: 10px;
    }
  }

  &#{&}-full {
    display: flex;
    width: calc(100% - var(--shadow-distance));
  }

  &#{&}-loading {
    color: transparent !important;
    pointer-events: none !important;
    user-select: none;

    & > * {
      opacity: 0 !important;
    }
    &::after {
      content: '';
      border: 2px solid #000;
      border-radius: 50%;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      border-right-color: transparent;
      border-bottom-color: transparent;
      animation: loading 0.5s linear infinite;
      position: absolute;
      left: calc(50% - 0.5em);
      top: calc(50% - 0.5em);

      @keyframes loading {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .btn {
    margin-bottom: 0.75rem;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
