.card {
  padding: 15px;
  background-color: #fff;
  max-width: 350px;
  width: 100%;
  --items-background: var(--gray-light);

  &-image,
  &-content {
    position: relative;
    z-index: 2;
  }

  &-image {
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 2px solid var(--black);
    margin-bottom: 20px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 1.4rem;
  }

  &-text {
    font-size: 1rem;
    line-height: 1.5;
    margin-top: 10px;
  }

  &#{&}-v {
    .card {
      &-image {
        width: var(--card-image-width, 100%);
        height: var(--card-image-height, 200px);
      }
    }
  }

  &#{&}-h {
    display: flex;
    max-width: 100%;
    .card {
      &-image {
        flex-shrink: 0;
        width: var(--card-image-width, 100px);
        height: var(--card-image-height, 100px);
        margin-bottom: 0;
        margin-right: 20px;
      }
    }
  }
}
