.img {
  --border: var(--black);
  --back-bg: var(--gray);
  width: var(--size);
  height: var(--size);
  position: relative;
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  transition: var(--transition);
  transform-style: preserve-3d;
  transform-origin: center;
  @include component-colors;

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: inherit;
    border-radius: inherit;
    background-color: var(--back-bg);
    border: 2px solid var(--border);
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
