.tooltip {
  position: relative;
  --offset: 10px;
  --caret-width: 8px;

  &::after {
    content: attr(data-text);
    min-width: var(--min-width, 0);
    left: 50%;
    border: 2px solid var(--black);
    border-radius: var(--border-radius);
    background-color: var(--white);
    padding: 5px 10px;
    font-size: 0.9rem;
    position: absolute;
    z-index: 2;
    display: none;
  }

  &::before {
    content: '';
    width: var(--caret-width);
    height: var(--caret-width);
    border: 2px solid var(--black);
    background: linear-gradient(
        to right bottom,
        transparent 0 50%,
        var(--white) 50% 100%
      )
      0 0 / contain no-repeat;
    transform-origin: center;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    z-index: 3;
    display: none;
  }

  &:hover {
    &::after,
    &::before {
      display: block;
    }
  }

  &#{&}-top {
    &::before {
      bottom: calc(100% + var(--offset) - var(--caret-width) / 2);
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
    &::after {
      bottom: 100%;
      transform: translate(-50%, calc(var(--offset) * -1));
    }
  }

  &#{&}-bottom {
    &::before {
      top: calc(100% + var(--offset) - var(--caret-width) / 2);
      left: 50%;
      transform: translateX(-50%) rotate(-135deg);
    }
    &::after {
      top: 100%;
      transform: translate(-50%, var(--offset));
    }
  }

  &#{&}-right {
    &::before {
      left: calc(100% + var(--offset) - var(--caret-width) / 2);
      top: 50%;
      transform: translateY(-50%) rotate(135deg);
    }
    &::after {
      left: 100%;
      top: 50%;
      transform: translate(var(--offset), -50%);
    }
  }

  &#{&}-left {
    &::before {
      right: calc(100% + var(--offset) - var(--caret-width) / 2);
      top: 50%;
      transform: translateY(-50%) rotate(-45deg);
    }
    &::after {
      top: 50%;
      left: unset;
      right: 100%;
      transform: translate(calc(var(--offset) * -1), -50%);
    }
  }
}
