.text-gray-light {
  color: var(--gray-light) !important;
}
.text-gray {
  color: var(--gray) !important;
}
.text-black {
  color: var(--black) !important;
}

.text-orange-light {
  color: var(--orange-light) !important;
}
.text-orange {
  color: var(--orange) !important;
}
.text-orange-dark {
  color: var(--orange-dark) !important;
}

.text-blue-light {
  color: var(--blue-light) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-blue-dark {
  color: var(--blue-dark) !important;
}

.text-green-light {
  color: var(--green-light) !important;
}
.text-green {
  color: var(--green) !important;
}
.text-green-dark {
  color: var(--green-dark) !important;
}

.text-red-light {
  color: var(--red-light) !important;
}
.text-red {
  color: var(--red) !important;
}
.text-red-dark {
  color: var(--red-dark) !important;
}

.text-purple-light {
  color: var(--purple-light) !important;
}
.text-purple {
  color: var(--purple) !important;
}
.text-purple-dark {
  color: var(--purple-dark) !important;
}

.text-pink-light {
  color: var(--pink-light) !important;
}
.text-pink {
  color: var(--pink) !important;
}
.text-pink-dark {
  color: var(--pink-dark) !important;
}
