.btn {
  --focus-box-shadow-width: 2px;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-color);
  text-decoration: none;
  line-height: 1;
  padding: 0.5rem 1rem;
  font-size: 1rem;

  &.hover,
  &:hover,
  &.active,
  &:active,
  &[disabled] {
    transform: translate3d(
      calc(var(--computed-shadow-right) * -2px),
      calc(var(--computed-shadow-top) * 2px),
      0
    );

    &::before {
      transform: translate3d(
        calc(var(--computed-shadow-right) * 2px),
        calc(var(--computed-shadow-top) * -2px),
        -0.1px
      );
    }
  }

  &#{&}-sm {
    --shadow-distance: 2px;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
  }

  &#{&}-l {
    --shadow-distance: 4px;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
  }

  &.active:not([disabled]),
  &:active:not([disabled]) {
    transition: none;
    box-shadow: 0 0 0 var(--focus-box-shadow-width)
      var(--focus-box-shadow-color, var(--shadow-bg));
  }

  &[disabled] {
    cursor: not-allowed;
    --border-color: var(--disabled-border-color, var(--gray));
    color: var(--gray);

    &.green {
      --border-color: var(--green-light);
    }
    &.orange {
      --border-color: var(--orange-light);
    }
    &.red {
      --border-color: var(--red-light);
    }
    &.pink {
      --border-color: var(--pink-light);
    }
    &.purple {
      --border-color: var(--purple-light);
    }
    &.blue {
      --border-color: var(--blue-light);
    }
    &.yellow {
      --border-color: var(--yellow-light);
    }
  }

  &-icon {
    display: flex;
    align-items: center;

    &.btn-icon-right {
      margin-left: 10px;
    }
    &.btn-icon-left {
      margin-right: 10px;
    }
  }

  &#{&}-full {
    display: flex;
    width: 100%;

    &:not(.no-shadow) {
      width: calc(100% - var(--shadow-distance));
    }
  }

  &#{&}-loading {
    color: transparent !important;
    pointer-events: none !important;
    user-select: none;

    & > * {
      opacity: 0 !important;
    }
    &::after {
      content: '';
      border-radius: 50%;
      width: 1em;
      height: 1em;
      flex-shrink: 0;
      border: var(--border-width) solid var(--border-color);
      border-right-color: transparent;
      border-bottom-color: transparent;
      animation: loading 0.5s linear infinite;
      position: absolute;
      left: calc(50% - 0.5em);
      top: calc(50% - 0.5em);

      @keyframes loading {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .btn {
    margin-bottom: 0.75rem;

    &:not(:last-child) {
      margin-right: 0.75rem;
    }
  }
}
