.img {
  width: calc(var(--img-width, 300px) - var(--shadow-distance) * 2);
  height: var(--img-height, 300px);

  &.aspect-ratio,
  &[style*='--aspect-ratio'] {
    width: 100%;
    height: auto;
    position: relative;

    &:not(.no-shadow) {
      width: calc(100% - var(--shadow-distance));
      margin-right: calc(var(--shadow-distance) - var(--border-width));
    }

    &::after {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }
  }

  &:not(.disable-hover).hover,
  &:not(.disable-hover):hover {
    transform: translate3d(
      calc(var(--computed-shadow-right) * -2px),
      calc(var(--computed-shadow-top) * 2px),
      0
    );

    &::before {
      transform: translate3d(
        calc(var(--computed-shadow-right) * 2px),
        calc(var(--computed-shadow-top) * -2px),
        -0.1px
      );
    }
  }
}
